# SPDX-FileCopyrightText: Thomas Breitner
#
# SPDX-License-Identifier: EUPL-1.2

.~*
.ruff_cache/
.parcel-cache/
*.egg-info/


# Dependency directories
node_modules/
.venv/

# Project paths
.env*

/data/
/build/
/rdml/static/dist/*
