# SPDX-FileCopyrightText: Thomas Breitner
#
# SPDX-License-Identifier: EUPL-1.2

# django-environ
# Copy to .env and set your environment

# Permissions
RDML_ADMIN_GROUP="rd_admins"

# Django
DEBUG=False
SECRET_KEY=your-secret-key
ADMINS="John Doe: doe@example.org"
ALLOWED_HOSTS=127.0.0.1
CSRF_TRUSTED_ORIGINS=https://fqdn1,https://fqdn2

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_SUBJECT_PREFIX="[rdml.fqdn]: "
EMAIL_HOST=smtp.fqdn
EMAIL_PORT=25
DEFAULT_FROM_EMAIL=it-support@fqdn

# LDAP
AUTH_LDAP_SERVER_URI="ldaps://dc.fqdn"
AUTH_LDAP_BIND_DN="cn=queryuser,dc=example,dc=org"
AUTH_LDAP_BIND_PASSWORD="your-secret"
AUTH_LDAP_USERS_DN="cn=Users,dc=example,dc=org"
AUTH_LDAP_GROUP_SUPERUSERS="cn=admin,cn=Users,dc=example,dc=org"
#AUTH_LDAP_GROUP_STAFF="cn=configgroup,cn=Users,dc=example,dc=org"
AUTH_LDAP_MIRROR_GROUPS_LIST=ldapgroup1,ldapgroup2
