{% load i18n static django_htmx %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {{ self.title }}
            {% endblock %}
        </title>
        {# <meta name="description" content="" /> #}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'dist/app.css' %}">

        {% block meta_tags %}
        {% endblock meta_tags %}

        <style>
        {% block extra_css %}
        {% endblock extra_css %}
        </style>
    </head>

    <body 
        class="{% block body_class %}{% endblock %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    >

        {% include 'includes/header.html' %}

        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        <footer class="text-white small">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="{% get_media_prefix %}{{ branding_figurative_mark }}" alt="{{ branding_affiliation|default:'' }}">
                        {{ branding_affiliation|default:'' }}
                    </div>
                    <div class="col-6 col-md-8 text-start text-md-end">
                        &copy; {% now "Y" %} {{ organization_abbr }}
                    </div>
                </div>
            </div>
        </footer>
        

        {# Global javascript #}
        <script src="{% static 'dist/app.js' %}"></script>
        {% django_htmx_script %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
