{% extends '_base.html' %}

{% load static %}

{% block title %}
    Dashboard
{% endblock %}


{% block content %}

<style>
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    justify-self: center;
    gap: 2em;

}
.grid-item > span {
        display: block; 
        line-height: 2em;
        text-align: center;
        font-size: larger;
        padding: 1em;
}
</style>


<div class="grid-container">
{% for navitem in navitems %}
    <div class="grid-item bg-primary rounded">
        <span class="d-block text-white text-decoration-none">
            
            <a href="{{ navitem.url }}" class="text-white">
                {{ navitem.title }}
            </a>

            {% if navitem.title == "Administration" %}
                <br>
                <a
                 href="{{ navitem.url }}?has_doi=True"
                 class="badge rounded-pill text-bg-success"
                >
                    {{ research_resources_with_doi }} w/ DOI
                </a>
                <a
                 href="{{ navitem.url }}?has_doi=False"
                    class="badge rounded-pill text-bg-danger"
                >
                    {{ research_resources_without_doi }} w/o DOI
                </a>
            {% elif navitem.title == "Landing pages" %}
                <br>
                <a
                 href="{{ navitem.url }}"
                 class="badge rounded-pill text-bg-success"
                >
                    {{ public_landing_pages_count }} public
                </a>
                <a
                    href="{% url 'admin:research_researchresource_changelist' %}?is_public=False"
                    class="badge rounded-pill text-bg-danger"
                >
                    {{ not_public_landing_pages_count }} not public
                </a>
            {% endif %}
        </span>
    </div>
{% endfor %}
</div>

{% endblock %}
