/*
 * SPDX-FileCopyrightText: Thomas Breitner
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@import "bootstrap/scss/functions";


$mpg-green: rgb(0,108,102);
$mpg-gray: rgb(102,102,102);
$mpg-bg-gray: rgb(238,238,238);
$mpg-light-gray: rgb(246,246,246);

$primary: $mpg-green;

// $theme-colors: map-merge(
//   (
//     "primary": $mpg-green
//   ),
//   $theme-colors
// );

$link-decoration: underline;

/*--- Fonts -------------------------------------------------------- */
$fa-font-path: "npm:@fortawesome/fontawesome-free/webfonts";

@import 'npm:@fortawesome/fontawesome-free/scss/fontawesome';
@import 'npm:@fortawesome/fontawesome-free/scss/solid';

@import "npm:@fontsource/merriweather/400.css";

/*--- Bootstrap ---------------------------------------------------- */
@import "bootstrap/scss/variables";

// Bootstrap: Include any default map overrides here
@import "_bootstrap_custom";

/* --- Set common styles ------------------------------------------- */
@import "_style";
