{% extends 'admin/change_form.html' %}


{% block object-tools-items %}
        {% if original.id %}
        <li>
            <a class="btn-primary"
                href="{% url 'doimanager:datacite_manager' resource_id=original.resource.id %}
            ">
                &rarr; Register or Update DOI
            </a>
        </li>
        {% else %}
        <li>
            <span
                class="btn-primary"
            >
                <i>Save instance before trying to register or update DOI metadata</i>
            </span>
        </li>
        {% endif %}

        <li>
        <a 
            class="btn-primary"
            href="{% url 'doiresolver:landing-page' pk_uuid=original.resource.id %}"
        >
            &rarr; Landing page
        </a>
        </li>
    {{ block.super }}
{% endblock %}
